@import "tailwindcss";

@theme {
    --color-primary: #016F6E;
    --color-light: #016F6E0D;
    --color-heading: #36454F;
}


@layer components {
    .btn-primary {
        @apply text-white bg-primary px-4 py-2 rounded-md
    }

    .curved-lines {
        @apply hidden md:block w-full h-full absolute overflow-hidden pointer-events-none z-0
    }
}